.introduction {
  display: flex;
  align-items: center;

  p {
    padding-left: 1vw;
    padding-right: 100px;
    margin: 20px 0;
    line-height: 1.5;
    max-width: 660px;
  }
}

.formula-for-success {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  margin-top: 40px;
  color: $peach;

  i {
    padding: 0 10px;
  }

  span {
    font-size: 1.2rem;
  }
}

.image-collage-container {
  width: 40%;

  img {
    max-width: 100%;
  }
}
