.contact-form-container {
  display: flex;
  align-items: center;

  form {
    width: 60%;
  }

  .contact-text {
    width: 40%;

    p {
      line-height: 1.5;
      margin-top: 15px;
    }

    h3 {
      font-family: $base-font;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: none;

  label {
    font-family: $special-font;
    font-style: italic;
    font-size: 0.8rem;
    color: $brown;
  }

  input,
  textarea {
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    background-color: lighten($light-orange, 5);
    font-family: $base-font;
    font-size: 0.8rem;
    color: darken($brown, 10);
    resize: none;

    &::placeholder {
      color: $brown;    
    }
  }

  textarea {
    padding-top: 10px;
  }
}

.submit-button {
  border: none;
  padding: 6px 20px 4px 20px;
  font-family: $special-font;
  font-style: italic;
  font-size: 1rem;
  color: white;
  background-color: $brown;
  margin-left: 20px;
  align-self: flex-end;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: darken($brown, 5);
  }
}

.form-message {
  padding-top: 40px;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: auto;
  color: $dark-orange;
}