header {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  max-width: 1260px;
  margin: auto;
  
  &::before {
    content: '';
    background-image: url('../assets/paint-texture-reversed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: -10;
  }
  
}

.welcome-text {
  width: 70%;
  padding-top: 40px;
  padding-left: 40px;

  h1 {
    font-family: $base-font;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
    
    span {
      position: relative;
    }
  
    .highlighter::before {
      z-index: 0;
      left: -3px;
      bottom: 5px;
      width: 103%;
      height: 14px;
      mix-blend-mode: multiply;
    }
  }
}

// main navigation

.nav-links {
  position: absolute;
  top: 20px;
  width: 60%;
  background-color: $peach;
  display: flex;
  align-items: center;
  z-index: 10;
  padding-left: 4vw;
  padding-bottom: 8px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 50%;
    position: relative;

    p {
      font-family: $heading-font;
      font-size: 2rem;
      line-height: 0.75;
      letter-spacing: 2px;

    } 
    
    .highlighter-logo::before {
      content: '';
      width: 140px;
      height: 18px;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: -10px;
      z-index: -10;
      background-color: $dark-orange;
    }
  }
  
  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -8px;
    
    a {
      font-family: $base-font;
      font-size: 0.9rem;
      position: relative;
      text-decoration: none;

      &:hover:before,
      &:hover:focus {
        content: '';
        background-color: $dark-orange;
        width: 110%;
        height: 10px;
        display: inline-block;
        position: absolute;
        bottom: 2px;
        left: -3px;
        z-index: -10;
      }
    }
  }
}

// contact navigation

.contact-links {
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: $linen;

  ul {
    display: flex;
    align-items: center;

    i {
      font-size: 1.2rem;
      padding: 10px 20px;
      color: $dark-orange;

      &:hover,
      &:focus {
        color: $light-orange;
      }
    }
  }
}

// scrolling text

.scrolling-text-container {
  overflow: hidden;
  color: whitesmoke;
  letter-spacing: 5px;

  .scrolling-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: scrolling-text-animation 15s linear infinite;
    -webkit-animation: scrolling-text-animation 15s linear infinite;
    animation: scrolling-text-animation 15s linear infinite;
  }

  // Firefox
  @-moz-keyframes scrolling-text-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }

  // Chrome
  @-webkit-keyframes scrolling-text-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

  @keyframes scrolling-text-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

// footer

footer {
  background-color: $brown;
  padding: 30px 0;
  text-align: center;
  
  p {
    color: $dark-orange;
    font-family: $special-font;
  }
}
