/* Big screens */
// @media (min-width: 1400px) {

// }

/* Desktops */
@media (min-width: 1200px) {
  .contact-form {
    max-width: 600px;
  }
}

/* Small desktops */
// @media (max-width: 1080px) {

// }

/* Large tablet */
@media (max-width: 940px) {
  .nav-links {
    width: 75%;
  }

  .welcome-text {
    width: 100%;
  }

  .tech-icons,
  .design-icons {
    
    .icon-item {
      width: 25%;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .nav-links {
    width: 90%;
  }

  .welcome-text {
    
    h1 {
      font-size: 1rem;
    }
  }

  .single-project {
    flex-direction: column;
    align-items: flex-start;

    figure {
      margin-left: 0;
      text-align: center;
    }
    
    .project-details {
      width: 100%;
    }

    .pad-left,
    .pad-right {
      padding: 0;
    }  
  }

  .about-me {
    padding-top: 160px;
  }

  .introduction {
    flex-direction: column-reverse;

    .image-collage-container {
      width: 100%;
      margin-top: -400px;
      z-index: -10;
    }
  }
  
  .tech-icons,
  .design-icons {
    
    .icon-item {
      width: 33.33%;
    }
  }

  .contact-form-container {
    flex-direction: column-reverse;

    form,
    .contact-text {
      width: 100%;
    }

    .contact-text {
      margin-top: 40px;
    }

    .submit-button {
      margin-left: 0;
    }
  }

  fieldset {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .nav-links {
    padding-bottom: 15px;

    .wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .logo {
      margin-bottom: 20px;
    }

    ul {
      width: 90%;
    }
  }
  
  .welcome-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
  }

  .about-me {
    margin-top: 100px;
  }
  
  .single-project figure {
    width: 100%;
  }

  .tech-icons,
  .design-icons {
    
    .icon-item {
      width: 50%;
    }
  }

  .ghost-text p {
    font-size: 2.85rem;
    letter-spacing: 10px;
    margin-left: -10px;
  }

  .introduction {  
    h2 {
      padding-top: 10px;
    }
    p {
      padding-right: 0;
    }
  }
}