html {
  font-size: 125%; /* 16px * 1.25 = 20px */
}

body {
  border-top: 20px solid $linen;
  position: relative;
  background-color: $linen;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $black;
}

p {
  font-family: $base-font;
  font-weight: 300;
  font-size: 0.9rem;
}

h1,
h2 {
  font-family: $heading-font;
  line-height: 1;
}

h2 {
  padding-left: 1vw;
  display: inline-block;
  position: relative;
}

.highlighter::before {
  background-color: $peach;
  content: '';
  width: 100%;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: -10;
}

.border-wrapper {
  border-left: 4vw solid $linen;
  border-right: 4vw solid $linen;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  // background-color: $black;
  // color: $white;
  // font-family: $base-font;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  z-index: 100;
}

li {
  list-style-type: none;
}

.about-me,
.projects,
.skills,
.get-in-touch {
  margin: 70px auto;
  padding-bottom: 40px;
}

.ghost-text {
  z-index: -10;
  margin-top: -10px;

  p {
    font-weight: 900;
    font-size: 4rem;    
    -webkit-text-stroke: 2px lighten($peach, 6);
    -webkit-text-fill-color: $linen;
    text-transform: uppercase;
    letter-spacing: 40px;
    margin-left: -20px;

    span {
      display: inline-block;
      width: 12%;

      span.skinny {
        width: 5%
      }
    }
  }
}

.bold-link a {
  font-weight: 600;
  color: $brown;

  &:hover,
  &:focus {
    color: darken($brown, 5);
  }
}

.row-reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
}