html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 1100px;
}

html {
  font-size: 125%;
  /* 16px * 1.25 = 20px */
}

body {
  border-top: 20px solid #fdfaf0;
  position: relative;
  background-color: #fdfaf0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #302c2c;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
}

h2 {
  font-family: "Eczar", serif;
  line-height: 1;
  display: inline-block;
  position: relative;
}

.highlighter::before {
  background-color: peachpuff;
  content: "";
  width: 105%;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: -3px;
  z-index: -10;
}

.border-wrapper {
  border-left: 4vw solid #fdfaf0;
  border-right: 4vw solid #fdfaf0;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  background-color: peru;
  color: #fdfaf0;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  z-index: 100;
}

li {
  list-style-type: none;
}

.about-me,
.projects,
.skills,
.get-in-touch {
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.get-in-touch {
  margin-bottom: 40px;
  margin-top: -40px;
}

.skills {
  padding-top: 90px;
}

.ghost-text {
  z-index: -10;
  margin-top: -10px;
}
.ghost-text p {
  font-weight: 900;
  font-size: 4rem;
  -webkit-text-stroke: 2px #ffead8;
  -webkit-text-fill-color: #fdfaf0;
  text-transform: uppercase;
  letter-spacing: 40px;
  margin-left: -20px;
}

.bold-link a {
  font-weight: 600;
  color: peru;
}
.bold-link a:hover, .bold-link a:focus {
  color: #c07832;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1260px;
  margin: auto;
  padding: 110px 0 140px 0;
}
header::before {
  content: "";
  background-image: url("../assets/paint-texture-reversed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -10;
}

.welcome-text {
  width: 70%;
  padding-top: 40px;
  padding-left: 40px;
}
.welcome-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}
.welcome-text h1 span {
  position: relative;
}
.welcome-text h1 .highlighter::before {
  z-index: 0;
  left: -3px;
  bottom: 5px;
  width: 103%;
  height: 14px;
  mix-blend-mode: multiply;
}

.nav-links {
  position: absolute;
  top: 20px;
  width: 60%;
  background-color: peachpuff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding-left: 4vw;
  padding-bottom: 8px;
}
.nav-links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-links .logo {
  width: 50%;
  position: relative;
}
.nav-links .logo p {
  font-family: "Eczar", serif;
  font-size: 2rem;
  line-height: 0.75;
  letter-spacing: 2px;
}
.nav-links .logo .highlighter-logo::before {
  content: "";
  width: 140px;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: -10px;
  z-index: -10;
  background-color: #f5b073;
}
.nav-links ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -8px;
}
.nav-links ul a {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  position: relative;
  text-decoration: none;
}
.nav-links ul a:hover:before, .nav-links ul a:hover:focus {
  content: "";
  background-color: #f5b073;
  width: 110%;
  height: 10px;
  display: inline-block;
  position: absolute;
  bottom: 2px;
  left: -3px;
  z-index: -10;
}

.spinning-text-container {
  position: absolute;
  bottom: 10px;
  right: 20px;
  max-width: 140px;
}

@-webkit-keyframes badge {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes badge {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
.spinning-text img {
  position: relative;
  -webkit-animation: badge 30s linear infinite;
          animation: badge 30s linear infinite;
  width: 100%;
}

.peace-hand {
  position: absolute;
  right: 75px;
  font-size: 2.5rem;
  bottom: 86px;
  color: #f5b073;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.contact-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.contact-links ul i {
  font-size: 1.2rem;
  padding-right: 20px;
  color: #f5b073;
}
.contact-links ul i:hover, .contact-links ul i:focus {
  color: #fadfb5;
}

footer {
  background-color: peru;
  padding: 30px 0;
  text-align: center;
}
footer p {
  color: #f5b073;
  font-family: "Courier Prime", monospace;
}

.single-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 50px auto;
}
.single-project figure {
  width: 40%;
}
.single-project figure img {
  max-width: 100%;
}
.single-project .pad-left {
  padding-left: 40px;
}
.single-project .pad-right {
  padding-right: 40px;
}
.single-project .project-details {
  width: 60%;
}
.single-project h3,
.single-project h4 {
  letter-spacing: 4px;
}
.single-project h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
  color: peru;
}
.single-project h4 {
  font-family: "Courier Prime", monospace;
  font-size: 0.8rem;
  font-style: italic;
  color: #f5b073;
}
.single-project p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 0.8rem;
}
.single-project a {
  font-family: "Courier Prime", monospace;
  font-size: 0.7rem;
  text-decoration: none;
  padding-right: 20px;
  position: relative;
}
.single-project a:hover::before, .single-project a:focus::before {
  content: "";
  background-color: peachpuff;
  width: 90%;
  height: 10px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: -5px;
  z-index: -10;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction p {
  padding-left: 1vw;
  padding-right: 100px;
  margin: 20px 0;
  line-height: 1.5;
  max-width: 660px;
}

.formula-for-success {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1vw;
  margin-top: 40px;
  color: peachpuff;
}
.formula-for-success i {
  padding: 0 10px;
}
.formula-for-success span {
  font-size: 1.2rem;
}

.image-collage-container {
  width: 40%;
}
.image-collage-container img {
  max-width: 100%;
}

.icon-container {
  position: relative;
}

.tech-icons,
.design-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 20px 0;
}
.tech-icons .icon-item,
.design-icons .icon-item {
  width: 20%;
  text-align: center;
  height: 160px;
}
.tech-icons .icon-item i,
.design-icons .icon-item i {
  font-size: 2.5rem;
  margin-bottom: 15px;
  display: inline-block;
  color: peru;
}
.tech-icons h3,
.design-icons h3 {
  font-family: "Courier Prime", monospace;
  font-style: italic;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: 100;
  color: peru;
}

.contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-form-container form {
  width: 60%;
}
.contact-form-container .contact-text {
  width: 40%;
}
.contact-form-container .contact-text p {
  line-height: 1.5;
  margin-top: 15px;
}
.contact-form-container .contact-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  border: none;
}
.contact-form label {
  font-family: "Courier Prime", monospace;
  font-style: italic;
  font-size: 0.8rem;
  color: peru;
}
.contact-form input,
.contact-form textarea {
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background-color: #fce9cd;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #ac6c2d;
  resize: none;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  color: peru;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  color: peru;
}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  color: peru;
}
.contact-form input::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
  color: peru;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: peru;
}
.contact-form textarea {
  padding-top: 10px;
}

.submit-button {
  border: none;
  padding: 6px 20px 4px 20px;
  font-family: "Courier Prime", monospace;
  font-style: italic;
  font-size: 1rem;
  color: white;
  background-color: peru;
  margin-left: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.submit-button:hover, .submit-button:focus {
  cursor: pointer;
  background-color: #c07832;
}

/* Big screens */
/* Desktops */
@media (min-width: 1200px) {
  .contact-form {
    max-width: 600px;
  }
}
/* Small desktops */
/* Large tablet */
@media (max-width: 940px) {
  .nav-links {
    width: 75%;
  }

  .tech-icons .icon-item,
.design-icons .icon-item {
    width: 25%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .nav-links {
    width: 90%;
  }

  .welcome-text {
    width: 100%;
    padding-right: 40px;
  }
  .welcome-text h1 {
    font-size: 1.1rem;
  }

  .single-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .single-project figure {
    margin-left: 0;
    text-align: center;
  }
  .single-project .project-details {
    width: 100%;
  }
  .single-project .pad-left,
.single-project .pad-right {
    padding: 0;
  }

  .introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .introduction .image-collage-container {
    width: 100%;
    margin-top: -220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: -120px;
  }
  .introduction .image-collage {
    width: 220px;
    height: 220px;
  }
  .introduction .image-collage .image-2 {
    width: 140px;
    height: 140px;
    top: 5px;
    right: 160px;
  }
  .introduction .image-collage .image-3 {
    width: 110px;
    height: 110px;
    top: 90px;
    right: -50px;
  }
  .introduction .image-collage .image-4 {
    width: 80px;
    height: 80px;
    top: 150px;
    right: 30px;
  }
  .introduction .image-collage .image-5 {
    width: 60px;
    height: 60px;
    top: -15px;
    right: 130px;
  }

  .tech-icons .icon-item,
.design-icons .icon-item {
    width: 33.33%;
  }

  .contact-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-form-container form,
.contact-form-container .contact-text {
    width: 100%;
  }
  .contact-form-container .contact-text {
    margin-top: 40px;
  }
  .contact-form-container .submit-button {
    margin-left: 0;
  }

  fieldset {
    padding-left: 0;
    padding-right: 0;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .welcome-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .welcome-text h1 {
    font-size: 1rem;
  }

  .about-me {
    margin-top: 100px;
  }

  .single-project figure {
    width: 100%;
  }

  .tech-icons .icon-item,
.design-icons .icon-item {
    width: 50%;
  }

  .ghost-text p {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-left: -10px;
  }

  .introduction p {
    padding-right: 0;
  }
}